body{
    background-color: #f8f9fa;    
}

/*Navegation*/
.navegation{
    display: flex;
    align-items: center;
    justify-content: flex-end;    
    margin-top: 20px;
    font-size: 13px;
    padding-bottom: 20px;
}

.button-navigation{    
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0 5px;     
    opacity: none;
    border: transparent;       
}

.button-hover:hover{
    text-decoration: underline;
}

.apps {
    width: 20px;
    height: 20px;
    background-color: transparent;   
    opacity: 0.6;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid transparent;
}

.acceder{
    color: #fff;    
    background: #1A73E8;    
    padding: 9px 23px;
    margin-right: 10px;
    border-radius: 8%;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;
    opacity: 0.85;
}

.acceder-hover:hover{
    opacity: 0.75;
}

/*Main*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    min-height: 300px;
}

.logo-google {
    width: 272px;
    height: 92px;
    margin-bottom: 20px;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    height: 30px;
    padding: 10px;
    border: 1px solid #c9cbce;
    border-radius: 30px;
}

.searchbar:hover,
.searchbar:focus-within {
    border-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.lupa{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.search-input {
    width: 100%;
    height: 100%;
}

.search-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 30px;
}

.button-search {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--button-search-background);
    color: #202124;
    font-size: 14px;
}

.button-search:hover {
    border-color: #dadce0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.button-search:focus {
    border-color:#f8f9fa;
}


/*Footer*/
.pais{
    margin-top: 93px;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54)    
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    width: 97%;
    font-size: 14px;
    font-family: arial,sans-serif;
    background-color: rgba(230, 220, 220, 0.54);   
}

.footer-hover:hover{
    text-decoration: underline;
}

.footer-bt{
        border: none;
        background: none;
        cursor: pointer;
        padding: 15px 20px 15px;     
        opacity: none;
        border: transparent;
        color: rgba(0,0,0,.54)       
}








